#build-pipeline-plugin-content {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 20px;
	background: rgba(6, 72, 131, 0.1);
}

.projectHeading {
	font-size: 12px;
	font-weight: bold;
}

.rounded {
	height: 60px;
	width: 100px;
	opacity: 0.9;
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px;
	font-size: 10px;
	color: #444;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

#pipelines {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

#legendView td {
	vertical-align: middle;
	text-align: center;
}

td.next {
	width: 40px;
	vertical-align: middle;
}

tr.build-pipeline {
	background-color: #fcae3f;
}

tr.build-pipeline td {
	padding: 4px;
}

tr.build-pipeline td.top-left {
	border-radius: 4px 0px 0px 0px;
	-moz-border-radius: 4px 0px 0px 0px;
	-webkit-border-radius: 4px 0px 0px 0px;
}

tr.build-pipeline td.top-right {
	border-radius: 0px 4px 0px 0px;
	-moz-border-radius: 0px 4px 0px 0px;
	-webkit-border-radius: 0px 4px 0px 0px;
}

tr.build-pipeline td.bottom-right {
	border-radius: 0px 0px 4px 0px;
	-moz-border-radius: 0px 0px 4px 0px;
	-webkit-border-radius: 0px 0px 4px 0px;
}

tr.build-pipeline td.bottom-left {
	border-radius: 0px 0px 0px 4px;
	-moz-border-radius: 0px 0px 0px 4px;
	-webkit-border-radius: 0px 0px 0px 4px;
}

tr.spacerRow {
	height: 10px;
}

.legend {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aba8a8', endColorstr='#8b8989'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#aba8a8), to(#8b8989)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #aba8a8,  #8b8989); /* for firefox 3.6+ */ 
}

.revision {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aba8a8', endColorstr='#8b8989'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#aba8a8), to(#8b8989)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #aba8a8,  #8b8989); /* for firefox 3.6+ */ 
}

span.status {
	height: 24px;
	width: 40px;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

span.next {
	background:url("/images/24x24/next.png") no-repeat center center;
}

.build-pipeline .SUCCESS, #legendView .SUCCESS {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e74a4', endColorstr='#3465a4'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#4e74a4), to(#3465a4)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #4e74a4,  #3465a4); /* for firefox 3.6+ */ 
}

span.SUCCESS {
	background:url("/images/24x24/blue.png") no-repeat center center !important;
}

.build-pipeline .FAILURE, #legendView .FAILURE {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef6868', endColorstr='#ef2929'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#ef6868), to(#ef2929)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #ef6868,  #ef2929); /* for firefox 3.6+ */ 
}

span.FAILURE {
	background:url("/images/24x24/red.png") no-repeat center center;
}

.build-pipeline .UNSTABLE, #legendView .UNSTABLE {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9e275', endColorstr='#fcd116'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#f9e275), to(#fcd116)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #f9e275,  #fcd116); /* for firefox 3.6+ */ 
}

span.UNSTABLE {
	background:url("/images/24x24/yellow.png") no-repeat center center;
}

.build-pipeline .BUILDING, #legendView .BUILDING {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc', endColorstr='#f7f94b'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#ffffcc), to(#f7f94b)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #ffffcc,  #f7f94b); /* for firefox 3.6+ */ 
}

span.BUILDING {
	background:url("/images/24x24/blue_anime.gif") no-repeat center center;
}

.build-pipeline .NOT_BUILT, #legendView .NOT_BUILT {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc', endColorstr='#f7f94b'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#ffffcc), to(#f7f94b)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #ffffcc,  #f7f94b); /* for firefox 3.6+ */ 
}

span.NOT_BUILT {
	background:url("/images/24x24/blue_anime.gif") no-repeat center center;
}

.build-pipeline .ABORT, #legendView .ABORT {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#bab4b4'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#dcdcdc), to(#bab4b4)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #dcdcdc,  #bab4b4); /* for firefox 3.6+ */ 
}

span.ABORT {
	background:url("/images/24x24/grey.png") no-repeat center center;
}

.build-pipeline .PENDING, #legendView .PENDING {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96e6fa', endColorstr='#00ccff'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#96e6fa), to(#00ccff)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #96e6fa,  #00ccff); /* for firefox 3.6+ */ 
}

span.PENDING {
	background:url("/images/24x24/health-80plus.png") no-repeat center center;
}

.build-pipeline .MANUAL, #legendView .MANUAL {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96e6fa', endColorstr='#00ccff'); /* for IE */
	background: -webkit-gradient(linear, left top, right bottom, from(#96e6fa), to(#00ccff)); /* for webkit browsers */
	background: -moz-linear-gradient(left top 315deg,  #96e6fa,  #00ccff); /* for firefox 3.6+ */
}

.trigger {
	background:url("/images/16x16/clock.png") no-repeat center center !important;
}

.PROJECT {
	background-color: #aba8a8;
	font-size: 12px;
	font-weight: bold;
}

.BuildViewMargin {
	margin-left: 30px;
}

#projectHeader {
	border-width: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 12px;
	font-weight: bold;
}

/* Hide the header, main and side panel	
		#header{
		display:none;
		}
		*/
#side-panel {
	display: none;
}

#view-message {
	display: none;
}

#main-panel {
	padding: 0px;
}

a:link {
	text-decoration: none;
	color: #222;
	font-weight: bold;
}

a:visited {
	text-decoration: none;
	color: #222;
	font-weight: bold;
}

a:active {
	text-decoration: none;
	color: #222;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: #222;
	font-weight: bold;
} /* mouse over link */